@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@import 'utility';
@import 'footer';

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-image: url('../images/city.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // overflow: hidden;

  .App {
    // height: 800px;
  }
}

header {
  display: flex;
  justify-content: center;
  margin: auto;

  h1 {
    color: #ccc;
    text-decoration: underline;
    font-size: 3em;
    margin-bottom: 0;
  }
}

main {
  height: 600px;
  display: flex;
  justify-content: center;
  margin: auto;
  color: #ccc;
  font-family: 'Press Start 2P', cursive;

  .Title {
    display: flex;
    flex-direction: column;
    margin: 0 auto 10px auto;

    img {
      width: 100%;
    }

    h2 {
      color: hsl(45, 80%, 51%);
      text-align: center;
    }

    .Coin {
      margin-top: 30px;

      img {
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        animation: float 3s ease-in-out infinite;

        &:active {

        }

        @keyframes float {
  	      0% {
  		      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  		      transform: translatey(0px);
  	      }
  	      50% {
  		      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
  		      transform: translatey(-10px);
  	      }
  	      100% {
  		      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  		      transform: translatey(0px);
  	      }
        }
      }
    }
  }

  .Difficulty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;

    h3 {
      text-align: center;
      text-decoration: underline;
    }

    a {
      margin: 5px;
      text-align: center;
      text-decoration: none;
      color: inherit;

      &:hover {
        color: hsl(45, 80%, 51%);
      }
    }
  }

  .Game {
    margin-top: 50px;
    font-size: 2em;
    color: #ccc;
  }
}

footer {
  // height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // right: 0;
  background-color: hsla(0, 0%, 60%, .8);

  img {
    position: absolute;
    z-index: -2;
  }

  .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .copy {
    position: relative;
    margin: 10px 0;
    opacity: 0;
    overflow: hidden;
    @extend .Copy;
  }

  .banana {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .Banana;
    opacity: 0;

    .ban {

    }

    .ana {
      @extend .disappear;
    }
  }

  .mainA {
    color: rgb(195, 20, 46);
    opacity: 0;
    position: relative;
    top: 0;
    @extend .A;
  }

  .apple {
    opacity: 0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .Apple;

    .a {
      @extend .disappear;
    }

    .pple {

    }
  }

  .designs {
    margin: 0 0 3px 0;
    opacity: 0;
    @extend .Designs;
    font-variant: small-caps;
  }

  .shadow {
    width: 40px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(111, 112, 112);
    display:block;
    margin: 0 auto;
    z-index: -1;
    position: relative;
    top: -17px;
    left: 7px;
    opacity: 0;
    @extend .Shadow;
  }
}
